div{
    background-color: aqua;
    width: 150px;
    height: 300px;
}
#d1{
    background-color: rgb(10, 15, 15);
    width: 150px;
    height: 300px;
    margin-top: -300px;
    margin-left: 200px;

}